<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Select a button
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="launchMaps('google')" expand="block" fill="solid" shape="round">
          Google Maps
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="launchMaps('apple')" expand="block" fill="solid" shape="round">
          Apple Maps
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
